# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/

# Story Iliad testnet
/broadcast/*/1513/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

.vscode
